
[submodule "V2Va_Parser"]
	path = V2Va_Parser
	url = https://github.com/bgoenner/V2Va_Parser.git
	branch = 0.0.0b
[submodule "xyce_docker_server"]
	path = xyce_run
	url = https://github.com/bgoenner/xyce_docker_server
