JupyterTests/
__pycache__/**
tests/__pycache__/**
ValveArray/__pycache__/**
*/__pycache__/**
*.pyc
*.cpython-38.pyc
vectorDebug
matrixDebug
debugLinSim
debugLinearSim
debugLinSim*
components.cpython-38.pyc
debugLinearSim.svg
debugLinearSimCh

simConfig

Continuous/remoteComFiles*
testing/*/*.tar
testing/*/spiceFiles/*
testing/simpleChannelTest/spiceFiles/*
testing/simpleChannelTest/*.tar

testing/simpleChannelTest_full_config/*.tar
testing/simpleChannelTest_full_config/spiceFiles/*
testing/simpleChannelTest_full_config/results/*
testing/*/results/*
testing/*/results_old/*

testing_local/*/results/*
testing_local/*/results_old/*
testing_local/*/spiceFiles/*
testing_local/*/*.tar

./testing/*/spiceList
test_output
test_output_docker
test_output_local

designs/mfda_30px/*/spiceFiles
