[submodule "tools/slicer"]
	path = tools/slicer
	url = https://github.com/utah-MFDA/OpenGL-STL-slicer.git
[submodule "pdks/h.r.3.3_pdk"]
	path = flow/platforms/h.r.3.3/pdk
	url = https://github.com/utah-MFDA/h.r.3.3_pdk.git
[submodule "benchmarks"]
	path = benchmarks
	url = https://github.com/utah-MFDA/mfda_benchmarks.git
[submodule "tools/simulation"]
	path = tools/simulation
	url = https://github.com/utah-MFDA/simulation
