env
*.zip
openroad_flow/designs/*
xyce_flow/designs/*
xyce_flow/results/*
scad_flow/designs/*
.ipynb_checkpoints
__pycache__
openmfda_flow.egg-info
xyce_flow_old*

chem_out.csv*
length_out.csv*
replace_vars.csv*
