[submodule "tools/slicer"]
	path = tools/slicer
	url = https://github.com/utah-MFDA/OpenGL-STL-slicer.git
[submodule "pdks/h.r.3.3_pdk"]
	path = pdks/h.r.3.3_pdk
	url = https://github.com/utah-MFDA/h.r.3.3_pdk.git
[submodule "benchmarks"]
	path = benchmarks
	url = https://github.com/utah-MFDA/mfda_benchmarks.git
