# Time inputs 
# SIM_TYPE PARAMETERS
transient 1m 0.1m


# input devices
# input PORT DEVICE PARAMETERS
input soln1 pressurePump pressure=100k
input soln2 pressurePump pressure=100k


# chemical defintions
# chem NAME CONCENTRATION PORT EXPECTED_CONCENTRATION
chem Tag    soln1 400m out 40m
chem Sample soln2 1.75u out 0.014u

# probe defintions
# probe pressure <node>


# evaluation defintions
# eval chem time concentration node

#eval Sample 0 connect2 0.014u
