

# Analysis to perform
transient 0.1ms 1ms


# input devices
input soln1 pressurePump pressure=69k
input soln2 pressurePump pressure=69k
input soln3 pressurePump pressure=69k


# chemical definitions
chem H2O soln1 10m
chem Tag soln2 10m
chem Sample soln3 10m


# pressure probesprobe pressure connect2
probe pressure connect6


# flow probes

# eval probes
eval H2O 0 out 9.8m
