

# Time inputs 
# SIM_TYPE PARAMETERS
transient 1m 0.1m


# input devices
# input PORT DEVICE PARAMETERS
input soln1 pressurePump pressure=100k
input soln2 pressurePump pressure=100k
input soln3 pressurePump pressure=100k


# chemical defintions
# chem NAME CONCENTRATION PORT EXPECTED_CONCENTRATION
chem H2O    soln1 100m out 89.2m
chem Tag    soln2 400m out 40m
chem Sample soln3 1.75u out 0.014u

# probe defintions
# probe pressure <node>
probe pressure connect2
probe pressure connect6

# probe flow <device> <node>
#probe flow mix0 connect2
#probe flow mix1 connect6

# evaluation defintions
# eval chem time concentration node

eval H    0 out 89.2m
eval T    0 out 39.6m
eval S    0 out 0.014u

eval H    0 connect2 90m
eval T    0 connect2 39.6m
#eval Sample 0 connect2 0.014u

eval H    0 connect6 89.2m
eval T    0 connect6 39.6m
eval S    0 connect5 0.0175u
