 
### input devices
# pressurePump or syringe
# input port device parameters
input in_port1 pressurePump pressure=100k
input in_port2 pressurePump pressure=50k
input in_port3 pressurePump pressure=80k

### chemical definitions
# chem chem_name in_port in_concentration eval_port eval_concentration
chem H2O in_port1 100m out 40m
chem Tag in_port2 10m  out 1m
chem Sam in_port3 3m   out 400u

### simulation time definitions
# type total_time time_slice
# in seconds
transient 1 0.1
